<div class="row" id="word-row">

  <div id="word-wrapper"
       class="col-sm-12 col-xs-8 col-xs-offset-2 col-sm-offset-0">
    <div data-time-left="{{ turn_time_left }}"
         data-total-time="{{ turn_time_total }}"
         style="background-color: {{ color_map[turn.color] }};
                width: {{ turn_time_percent }}%"
         id="countdown"></div>
    <p class="word-input" id="your-word"
       data-guessing="{% if player.is_guessing %}true{% else %}false{% endif %}">
      {% if is_players_turn %}

      {% if player.is_guessing %}
      {{ player.guess.letters() | upper }}
      {% else %}
      {{ player.word.letters() | upper }}
      {% endif %}

      {% else %}

      <em id="wait-text">wait...</em>

      {% endif %}
    </p>
  </div>

</div>


{% if is_players_turn %}

<div class="row" id="controls">
  <div class="col-sm-11 col-xs-8 col-xs-offset-2 col-sm-offset-0">
    <div class="col-xs-4">
      {% if not player.is_guessing %}
      <a class="ajax-get" href="/start-guessing">
        <img src="/images/thinking.png" alt="Start guessing" id="start-guessing" />
      </a>
      {% endif %}
    </div>
    <div class="col-xs-4">
      <a class="ajax-get" href="/clear" id="clear-control">
        <img src="/images/clear.png" alt="Clear word" />
      </a>
    </div>
    <div class="col-xs-4">
      <a class="ajax-get" id="submit" href="/submit">
        {% if player.is_guessing %}
        <img src="/images/rocket-thinking.png" alt="Submit guess!" />
        {% else %}
        <img src="/images/rocket.png" alt="Submit word!" />
        {% endif %}
      </a>
    </div>
  </div>
</div>

{% endif %}
